<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	
	<head th:fragment="css">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	</head>
	
	<head th:fragment="js">	
		<script th:src="@{/js/bootstrap.min.js}"></script>
	</head>
</head>

<body>
	<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a th:text="'SIPEG'" class="navbar-brand" href="#"></a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/}">Home</a>
			</ul>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/pegawai/tambah}">Tambah Pegawai</a>
			</ul>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/jabatan/tambah}">Tambah Jabatan</a>
			</ul>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/pegawai/cari}">Cari Pegawai</a>
			</ul>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/}">Lihat Semua Jabatan</a>
			</ul>
		</div>
	</nav>
</body>

</html>